<!-- table  -->
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header d-flex">
        <h4 class="card-title">Nhân viên</h4>
        <div class="input-group no-border col-4">
          <input type="text" class="form-control" placeholder="Tìm kiếm Tên nhân viên ,SĐT ,Địa chỉ" [(ngModel)]="searchParam" (keydown.enter)="search(searchParam)">
          <div class="input-group-append">
            <div class="input-group-text">
              <i class="nc-icon nc-zoom-split" (click)="search(searchParam)"></i>
            </div>
          </div>
        </div>
        <div class="input-group no-border col-2">
          <mat-select class="form-control" placeholder="Giới tính" [(value)]="selected" [(ngModel)]="searchByPlaceParam" (closed)="searchByPlace(searchByPlaceParam)">
            <mat-option value="Nam">Nam</mat-option>
            <mat-option value="Nữ">Nữ</mat-option>
          </mat-select>
        </div>
        <div class="input-group no-border col-2">
          <mat-select class="form-control" panelClass="example-panel" placeholder="Chức vụ" [(value)]="selected" [(ngModel)]="searchByPlaceParam" (closed)="searchByPlace(searchByPlaceParam)">
            <mat-option value="Chủ tịch">Chủ tịch</mat-option>
            <mat-option value="Giám đốc">Giám đốc</mat-option>
            <mat-option value="Phó giám đốc">Phó giám đốc</mat-option>
            <mat-option value="Thư ký">Thư ký</mat-option>
            <mat-option value="Trợ lý">Trợ lý</mat-option>
            <mat-option value="Nhân viên">Nhân viên</mat-option>
          </mat-select>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Id
              </th>
              <th>
                Tên nhân viên
              </th>
              <th>
                Giới tính
              </th>
              <th>
                Số điện thoại
              </th>
              <th>
                Địa chỉ
              </th>
              <th>
                Chức vụ
              </th>
              <th class="text-right">
                Hành động
              </th>
            </thead>
            <tbody>
              <tr>
                <td>
                  1
                </td>
                <td>
                  Dương Đình Khánh
                </td>
                <td>
                  Nam
                </td>
                <td>
                  0924375732
                </td>
                <td>
                  Hà Nội
                </td>
                <td>
                  Chủ tịch
                </td>
                <td class="text-right d-flex justify-content-around">
                  <mat-icon style="cursor: pointer;" (click)="fixBookRoom()">build</mat-icon>
                  <mat-icon style="cursor: pointer;" (click)="deleteBookRoom()">delete</mat-icon>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
