<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row" style="position: relative; bottom: 15px;">
          <div class="col-12 col-md-12">
            <div class="numbers d-flex justify-content-center">
              <p class="card-category">Doflamingo Cát Bà</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-12">
            <div class="icon-big text-center icon-warning">
              <!-- <i class="nc-icon nc-globe text-warning"></i> -->
              <img src="https://ik.imagekit.io/tvlk/blog/2022/06/flamingo-cat-ba-2.jpg" alt="hotel">
            </div>
          </div>
        </div>
        <div class="row"
        style="position: relative; top: 10px;">
          <div class="col-12 col-md-12">
            <div class="numbers d-flex justify-content-start align-items-center">
              <p class="card-category">Đánh giá: </p>
              <p class="card-title"><mat-icon style="color: yellow;">star</mat-icon>
                <p>
            </div>
            <br>
            <div class="numbers d-flex justify-content-center">
              <p class="card-category">Số phòng còn lại: </p>
              <p class="card-title">150
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr>
        <div class="stats">
          <button mat-raised-button color="accent" (click)="bookRoomNow()" style="width: 100%;">
            <i class="fa fa-bed" style="color: #fff;"></i> Đặt phòng ngay
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

