<div id="products" class="page-layout carded fullwidth inner-scroll">
    <div class="top-bg mat-accent-bg header-height accent"></div>

    <div class="center">
        <!-- search  -->
        <div class="header white-fg header-top accent" fxLayout="column" fxLayoutAlign="center center"
            fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
            <div class="search-wrapper mx-32" fxFlex.gt-xs="1 0 auto">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input id="search" [(ngModel)]="searchText" matInput #filter trim="blur"
                        placeholder="{{'Tìm kiếm'}}" (keypress)="search($event.keyCode)">
                </div>
            </div>

            <button mat-raised-button (click)="add()" class="add-product-button mat-white-bg mt-sm-0">
                <span>{{'Thêm mới'}}</span>
            </button>
        </div>
        <!-- table  -->
        <div class="content-card mat-white-bg">
            <mat-table [dataSource]="dataSource" class="detail-table" matSort [@animateStagger]="{value:'50'}"
                fusePerfectScrollbar>

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

                <!-- Position Column -->
                <ng-container matColumnDef="position">
                    <mat-header-cell *cdkHeaderCellDef>{{'Common.No' | translate}}</mat-header-cell>
                    <mat-cell *cdkCellDef="let item; let i = index;">
                        <p class="text-truncate mr-8">{{i + 1}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <mat-header-cell *cdkHeaderCellDef>Loại thiết bị</mat-header-cell>
                    <mat-cell *cdkCellDef="let item">
                        <p class="text-truncate mr-8" matTooltip="{{item.deviceType | uppercase}}">{{item.deviceType | uppercase}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="weight">
                    <mat-header-cell *cdkHeaderCellDef>Loại thiết bị</mat-header-cell>
                    <mat-cell *cdkCellDef="let item">
                        <p class="text-truncate mr-8" matTooltip="{{item.deviceType | uppercase}}">{{item.deviceType | uppercase}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="symbol">
                    <mat-header-cell *cdkHeaderCellDef>Loại thiết bị</mat-header-cell>
                    <mat-cell *cdkCellDef="let item">
                        <p class="text-truncate mr-8" matTooltip="{{item.deviceType | uppercase}}">{{item.deviceType | uppercase}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                    <mat-header-cell *cdkHeaderCellDef>Loại thiết bị</mat-header-cell>
                    <mat-cell *cdkCellDef="let item">
                        <p class="text-truncate mr-8" matTooltip="{{item.deviceType | uppercase}}">{{item.deviceType | uppercase}}</p>
                    </mat-cell>
                </ng-container>

                <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *cdkRowDef="let item; columns: displayedColumns;" class="item">
                </mat-row>
            </mat-table>

            <mat-paginator #paginator [length]="totalCount" [pageSize]="pageSize" [pageIndex]="pageIndex" [pageSizeOptions]="pageSizeOptions"
                (page)="pageEvent($event)">
            </mat-paginator>
        </div>
    </div>
</div>
