<div class="mat-elevation-z8">
    <div class="search flex items-center mb-4 w-full">
        <div class="relative flex items-center w-full">
            <mat-icon class="absolute ml-3 text-gray-400">
                search
            </mat-icon>
            <input type="text" [(ngModel)]="searchParam" style="background-color: #fff;"
                class="pl-10 pr-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 w-5/12"
                placeholder="Tìm kiếm khách sạn..." (keydown.enter)="search(searchParam)">

            <mat-form-field class="w-4/12" class="search-by-place">
                <mat-select placeholder="Tìm kiếm theo địa điểm">
                    <mat-option *ngFor="let item of items" [value]="item.place">
                        {{item.place}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <table mat-table [dataSource]="dataSource">
        <!-- STT Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef class="text-sm w-8"> STT </th>
            <td mat-cell *matCellDef="let item; let i = index;">
                <p class="text-truncate">
                    {{i + 1}}
                </p>
            </td>
        </ng-container>

        <!-- Ảnh Column -->
        <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef class="text-sm w-60"> Hình ảnh </th>
            <td mat-cell *matCellDef="let item">
                <img style="border-radius: 15px; height: 150px;" src="{{item.picture}} " alt="{{item.picture}}">
            </td>
        </ng-container>

        <!-- Tên Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="w-52 text-sm"> Khách sạn </th>
            <td mat-cell *matCellDef="let item">
                <p class="text-truncate">
                    {{item.name}}
                </p>
            </td>
        </ng-container>

        <!-- Địa chỉ Column -->
        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef class="w-36 text-sm"> Địa điểm </th>
            <td mat-cell *matCellDef="let item">
                <p class="text-truncate">
                    {{item.address}}
                </p>
            </td>
        </ng-container>

        <!-- Tổng Số Phòng Column -->
        <ng-container matColumnDef="totalRoom">
            <th mat-header-cell *matHeaderCellDef class="w-48 text-sm"> Tổng số phòng </th>
            <td mat-cell *matCellDef="let item">
                <p class="text-truncate">
                    {{item.totalRooms}}
                </p>
            </td>
        </ng-container>

        <!-- Số Phòng còn lại Column -->
        <ng-container matColumnDef="roomAvaible">
            <th mat-header-cell *matHeaderCellDef class="w-48 text-sm"> Số phòng còn lại </th>
            <td mat-cell *matCellDef="let item">
                <p class="text-truncate">
                    {{item.availableRooms}}
                </p>
            </td>
        </ng-container>

        <!-- Hành động Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="w-10 text-sm">{{'Hành động'}}</th>
            <td mat-cell *matCellDef="let item">
                <div class="flex">
                    <button matTooltip="{{'Xem chi tiết'}}" mat-raised-button color="primary" (click)="details(item)"
                        class="mr-2 bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
                        <mat-icon>remove_red_eye</mat-icon>
                    </button>
                    <button matTooltip="{{'Đặt phòng ngay'}}" mat-raised-button color="primary"
                        (click)="bookRooms(item)"
                        class="mr-2 bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
                        <mat-icon>home</mat-icon> Đặt phòng ngay
                    </button>
                    <button matTooltip="{{'Xoá khách sạn'}}" mat-raised-button color="warn" (click)="delete(item)"
                        class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded" *ngIf="user">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let item; columns: displayedColumns;"></tr>
    </table>
</div>
